html {
    box-sizing: border-box;
}

html body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.buttonsDiv {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    gap: 16px;
    padding: 6px 0px;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.results {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 24px;
}
 
h1 {
    display: flex;
    justify-content: center;
    /* margin: 0rem 26rem; */
    margin-bottom: 2rem;
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    padding: 10px 2px;
    margin-top: 0px;
    font-size: 36px;
    /* margin-bottom: 12px; */
}



.runningScore {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 24px;

}

.parent {
    /* display: flex;
    justify-content: center; */
}

.youWinDiv, .youLoseDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.youWinP, .youLoseP {
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 24px 2px;
    align-self: center;
}

.playAgainB {
    width: auto;
    height: auto;
    font-size: 20px;
    align-self: center;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 12px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    border: none;

}

.playAgainB:hover {
    transform: scale(1.02);
    background-color: rgb(43, 43, 43);
    border: none;

}

.buttonsDiv button {
    width: auto;
    height: auto;
    background-color: rgb(32, 32, 32);
    font-size: 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border-radius: 0px;
    border-color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttonsDiv button:hover{
    transform: scale(1.02);
    background-color: rgb(65, 65, 65);
    border: none;
}